*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.navbar{
    background-color: #1B4242;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    
}

.elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 
    
}

.logo a{
    font-size: 45px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline;
}

li a{
    color: white;
    font-size: 18px;
    margin: 25px;
}

body {
    
    background-image: url(images/background_img.jpg);
    background-color: aqua;
    background-position: center  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%; 
    backdrop-filter: blur(2px);  
    
}



.text {
    text-align: center;
    margin-top: 250px;
    font-size: 30px;
    z-index: 1;
       
}

.text p {
    font-size:  20px;
}

.buttons {
    text-align: center;
    padding: 20px;
}

.buttons button {
    margin: 10px;
    font-size: 16px;
    border: solid 2px black;
    border-radius: 30px;
    padding: 20px 35px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    transition-duration: 0.5s;
    
    
}

.buttons button:hover{


    background-color: rgb(33, 32, 32);
    color: aliceblue;
}

.about_us {
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-top: 60px
    
}

.about_us h1 {
    margin-top: 50px;
    font-size: 40px;
}

.text_image {
    
    
    background-color:aliceblue;
    display: flex;
    justify-content: end;
    
      
}

.about_us_text{
    position: absolute;
    margin-right: 565px;
    padding: 20px;
    margin-top: 50px;
    text-align: end;
    
}   

.image{
    text-align: end;
    padding: 20px;
    margin: 20px;
    margin-right: 150px;

}

.image img {
    width: 30%;
}

.crausal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DCF2F1;
}    

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ;
    margin-top: 50px;

   
    
}

.card1  img{
   width: 320px;
   height: 400px;
   padding: 10px;
   margin: 10px;
   margin-left: 20px;
   
}

.card2  img{
    width: 320px;
    height: 400px;
    padding: 10px;
    margin: 10px;
 
 }
   
 .card3  img{
    width: 320px;
    height: 400px;
    padding: 10px;
    margin: 10px;
 
 }    
    
 .card4  img{
    width: 320px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
 
 }

 .card1 {
   
 }
 .how_we_work {
    background-color: #43766C;
 }
.how_we_work_text{

    padding-top: 60px;  
}
.how_we_work_text h1,p{
    
    text-align: center;
  
}



.group_3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;   
}

.group_3 h3 {
    font-size: 20px;
}
.contact_us {
    background-color: rgba(255, 255, 255, 0.4);
    width: 240px;
    height: 200px;
    
    
}

.contact_us:hover{
    background-color: rgba(31, 30, 30, 0.4);
    width: 240px;
    height: 200px;
    transition: 0.5s;
    
}


.make_your_design {
    background-color: rgba(255, 255, 255, 0.4);
   
    width: 240px;
    height: 200px;
}

.make_your_design:hover {
    background-color: rgba(31, 30, 30, 0.4); 
    width: 240px;
    height: 200px;
    transition: 0.5s;
}

.reuild_design {
    background-color: rgba(255, 255, 255, 0.4);
    width: 240px;
    height: 200px;
}
.reuild_design:hover {
    background-color: rgba(31, 30, 30, 0.4); 
    width: 240px;
    height: 200px;
    transition: 0.5s;
}
.contact_us h3 {
   
    text-align: center;
    margin-top: 60px;
}

.make_your_design h3 {
    text-align: center;
    margin-top: 60px;
}

.reuild_design h3 {
    text-align: center;
    margin-top: 60px;
}